*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
app/build
app/libs
app/app.iml
app/proguard-rules.pro
app/src/androidTest
app/src/test